.breadcrumbs {
    &__list {
        @include flex(row, center);
        font-size: 1.4rem;
        color: $black;
    }
    &__link {
        font-size: 1.4rem;
        text-decoration: none;
        color: $black;
        margin: 0 3px;
        white-space: nowrap;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        &[href] {
            &:hover {
                opacity: .85;
            }
        }
    }
}

// MEDIA
@media screen and (max-width: 767px) {
    .breadcrumbs {
        &__link {
            max-width: 135px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
@media screen and (max-width: 575px) {
    .breadcrumbs {
        &__link {
            font-size: 1.2rem;
        }
    }
}