.news-item {
    text-decoration: none;
    &__media {
        width: 100%;
        height: 185px;
        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:hover {
            opacity: .85;
        }
    }
    &__date {
        display: block;
        font-size: 1.3rem;
        letter-spacing: .04em;
        line-height: 1.35;
        margin-top: 20px;
        color: $black;
    }
    &__name {
        position: relative;
        display: block;
        font-size: 1.4rem;
        letter-spacing: .05em;
        line-height: 1.35;
        font-weight: 600;
        margin-top: 10px;
        color: $dark;
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 4px;
            background: $primary;
            top: calc(100% + 12px);
            left: 0;
        }
        &:hover {
            opacity: .85;
        }
    }
    &__desc {
        margin-top: 30px;
        & p {
            margin: 0;
            font-size: 1.4rem;
            line-height: 1.35;
            color: $black;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

// MEDIA
@media screen and (max-width: 991px) {
    .news-item {
        &__media {
            height: 29.47vw;
        }
    }
}
@media screen and (max-width: 575px) {
    .news-item {
        &__date {
            font-size: 1.2rem;
            margin-top: 10px;
        }
        &__name {
            font-size: 1.3rem;
            margin-top: 5px;
            &::after {
                width: 25px;
                height: 3px;
                top: calc(100% + 8px);
            }
        }
        &__desc {
            margin-top: 20px;
            & p {
                font-size: 1.2rem;
            }
        }
    }
}