.product-item {
    @include flex(column, stretch);
    text-decoration: none;
    border: 1px solid $secondary-300;
    border-radius: 2px;
    padding: 5px;
    &__media {
        @include flex(row, center, center);
        width: 100%;
        height: 260px;
        &-img {
            max-width: 90%;
            max-height: 90%;
        }
        &:hover {
            opacity: .85;
        }
    }
    &__content {
        @include flex(column, stretch);
        margin-top: 25px;
        padding: 20px 10px;
        padding-top: 0;
        flex: 1 1 auto;
    }
    &__name {
        display: block;
        font-size: 1.5rem;
        line-height: 1.35;
        letter-spacing: .03em;
        color: $dark;
        text-decoration: none;
        margin-bottom: 10px;
        &:hover {
            opacity: .85;
        }
    }
    &__footer {
        @include flex(row, center);
        margin-top: auto;
    }
    &__price {
        font-size: 2rem;
        font-weight: 600;
        color: $dark;
        letter-spacing: .05em;
        line-height: 1.2;
    }
    &__button {
        margin-left: auto;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.3;
        &:hover {
            opacity: .85;
        }
        &_active {
            color: $primary;
        }
    }
}