.video-section {
    display: block;
    text-decoration: none;
    &__box {
        position: relative;
        @include flex(column, center, center);
        width: 100%;
        height: 25vw;
        max-height: 360px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 50%;
            background: linear-gradient(to bottom, rgba($dark, 0) 0%, rgba($dark, 100%) 100%);
            opacity: .5;
            bottom: 0;
            left: 0;
            pointer-events: none;
            z-index: 1;
        }
        &:hover {
            opacity: .85;
        }
    }
    &__note {
        position: relative;
        font-size: 1.4rem;
        color: $white;
        text-transform: uppercase;
        letter-spacing: .1em;
        margin-top: 20px;
        z-index: 2;
    }
    &__button {
        position: relative;
        @include flex(row, center, center);
        width: 75px;
        height: 75px;
        border: 3px solid $primary;
        border-radius: 50%;
        margin-bottom: 30px;
        z-index: 2;
        background: icon('icon-play.svg') no-repeat 23px 50% / 30px auto;
    }
    &__title {
        position: relative;
        position: relative;
        font-size: 2rem;
        letter-spacing: .1em;
        text-transform: uppercase;
        font-weight: 600;
        color: $white;
        z-index: 2;
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 4px;
            background: $primary;
            top: calc(100% + 6px);
            left: 50%;
            margin-left: -20px;
        }
    }
}

// MEDIA
@media screen and (max-width: 991px) {
    .video-section {
        &__box {
            height: 57vw;
        }
    }
}
@media screen and (max-width: 575px) {
    .video-section {
        &__button {
            width: 60px;
            height: 60px;
            margin-bottom: 20px;
            background-position: 17px 50%;
        }
        &__title {
            font-size: 1.3rem;
            &::after {
                width: 25px;
                height: 3px;
                top: calc(100% + 9px);
                margin-left: -12.5px;
            }
        }
        &__note {
            font-size: 1rem;
        }
    }
}