.section {
    &__title {
        margin: 0;
        font-size: 2.4rem;
        font-weight: bold;
        letter-spacing: .05em;
        line-height: 1.35;
        color: $dark;
        margin-bottom: 1em;
        &_size {
            &-m {
                font-size: 2rem;
            }
        }
    }
    &__grid {
        &-product {
            height: 100%;
        }
        &-col {
            margin-bottom: 35px;
        }
    }
}

// MEDIA
@media screen and (max-width: 991px) {
    .section {
        &__title {
            font-size: 1.8rem;
        }
        &__col {
            &:not(:last-child) {
                margin-bottom: 35px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .section {
        &__title {
            font-size: 1.6rem;
        }
    }
}
@media screen and (max-width: 575px) {
    .section {
        &__grid {
            &-col {
                margin-bottom: 20px;
                &.col-6 {
                    &:nth-child(odd) {
                        padding-right: 7.5px;
                    }
                    &:nth-child(even) {
                        padding-left: 7.5px;
                    }
                }
            }
        }
    }
}