.template {
    &__wrapper {
        padding: 25px 0;
        padding-bottom: 70px;
        border-top: 1px solid $secondary-300;
    }
    &__breadcrumbs {
        margin-bottom: 15px;
    }
    &__title {
        margin: 0;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 1.35;
        margin-bottom: 30px;
        color: $dark;
    }
    &__pagination {
        margin-top: 10px;
        margin-bottom: 50px;
    }
    &__download-catalog {
        @include flex(row, center);
        position: relative;
        width: 100%;
        margin-top: 30px;
        padding: 20px 15px;
        border: 2px solid $secondary-300;
        border-radius: 2px;
        text-decoration: none;
        &-name {
            font-size: 1.6rem;
            line-height: 1.35;
            letter-spacing: .03em;
            color: $dark;
            font-weight: bold;
            margin-left: 15px;
        }
        &-icon {
            flex-shrink: 0;
        }
        &:hover {
            opacity: .85;
        }
    }
    &__text {
        margin-top: 20px;
        & h2, h3, h4, h5, h6 {
            margin: 0;
            font-weight: bold;
            line-height: 1.35;
            color: $dark;
            &:not(:first-child) {
                margin-top: 30px;
            }
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
        & h2 {
            font-size: 2.2rem;
        }
        & h3 {
            font-size: 2rem;
        }
        & h4, h5, h6 {
            font-size: 1.8rem;
        }
        & a {
            font-size: 1.6rem;
            color: $black;
            line-height: 1.75;
        }
        & p {
            font-size: 1.6rem;
            color: $black;
            line-height: 1.75;
            margin: 0;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        & ul, ol {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            & li {
                font-size: 1.6rem;
                color: $black;
                line-height: 1.75;
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }
    }
}

// MEDIA
@media screen and (max-width: 575px) {
    .template {
        &__title {
            font-size: 2.2rem;
        }
        &__text {
            & h2 {
                font-size: 2rem;
            }
            & h3 {
                font-size: 1.9rem;
            }
            & h4, h5, h6 {
                font-size: 1.8rem;
            }
            & a {
                font-size: 1.5rem;
            }
            & p {
                font-size: 1.5rem;
            }
            & ul, ol {
                & li {
                    font-size: 1.5rem;
                }
            }
        }
    }
}