// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: '';
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$black: #222;

//Font weight
$font-weight: ();
