// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Montserrat', sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$black: #444;
$dark: #222;
$gray-800: #888;
$primary: #E2000F;
$primary-500: #CE030F;
$secondary: #DEEAEF;
$secondary-500: #B8CCD5;
$secondary-300: #DEEAEF;
